<div>
  <h3 class="site-title">{{websites[$route.params.id].title}}</h3>
  <div class="row">
    <div class="col s8  ">
      <p>This is a website for a local Cafe trying to get there business online for the first time and wanted a site
        that simply advertises there services in a classy and modern way.</p>
    </div>
    <div class="col s4">
      <div>
        <div class="valign-wrapper"><i class="fab fa-wordpress-simple small material-icons"></i> &nbsp; Wordpress</div>
        <div class="valign-wrapper"><i class="fas fa-pencil-alt small material-icons"></i> &nbsp; Logo Design</div>
      </div>
    </div>
  </div>
  <v-app>
    <v-carousel>
      <v-carousel-item
        v-for="(website,i) in websites[$route.params.id].siteImages"
        :key="i"
        :src="website"
      ></v-carousel-item>
    </v-carousel>
  </v-app>
</div>