.thumbnailImages {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row img {
    border-radius: 10px;
    border: 1px solid black;
}

.skills {
    padding: 10px;
}

.application--wrap {
    min-height: 1vh !important;
}