<div class="introContainer center-align">
    <div class="row">
        <div class="introText col s12">
            <h4>Hi, my Name is <b>Jake!</b> I am UX focussed <b>Web designer</b> and <b>developer</b> based in the
                <b>Netherlands</b>.</h4> <br>
            <h5>I work freelance so <router-link to="/portfolio">check out some of my work</router-link> and if you are
                interested <a href="mailto:jayyf9@gmail.com?Subject=Website%20query">get in touch!</a></h5>
        </div>
    </div>
</div>