<div class="blogContainer">
    <div class="row">
        <div v-for="post of posts" class="post col s6 m6">
            <div class="postRow">
                <router-link class="blogPost" :to="{path: '/blog/post/' + post.url}">
                    <div class="card">
                        <div class="card-image">
                            <img style="max-height: 270px;" v-bind:src="post.img">
                            <!-- The size of this image moves everything around!!! (may be because of the image used) -->
                        </div>
                        <div class="center-align card-title">{{post.title}}</div>
                        <div class="card-content">
                            <b>{{post.header}}</b>
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</div>