<div class="blogContainer">
    <div class="row">
        <div v-for="post of posts" class="post col s6 m6">
            <div class="post-row">
                <router-link class="blog-post" :to="{path: '/blog/post/' + post.url}">
                    <div class="card">
                        <div class="card-image">
                            <img style="height: 300px;" v-bind:src="post.img">
                            <!-- The size of this image moves everything around!!! (may be because of the image used) -->
                        </div>
                        <h3 class="center-align card-title">{{post.title}}</h3>
                        <div class="card-content">
                            <b>{{post.header}}</b>
                            <p>{{post.content}}<span>.....</span></p>
                            <v-btn class="button" style="width: 100%; height: 50px;">Read More..</v-btn>
                        </div>


                    </div>
                </router-link>
            </div>
        </div>
    </div>
</div>